# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=1_gnu
absl-py=1.0.0=pypi_0
antlr4-python3-runtime=4.8=pypi_0
apex=0.1=pypi_0
appdirs=1.4.4=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
attrs=21.4.0=pypi_0
backcall=0.2.0=pypi_0
black=21.4b2=pypi_0
blas=1.0=mkl
bleach=4.1.0=pypi_0
blessings=1.7=pypi_0
bzip2=1.0.8=h7f98852_4
ca-certificates=2021.10.8=ha878542_0
cachetools=4.2.4=pypi_0
certifi=2021.10.8=pypi_0
cffi=1.15.0=pypi_0
charset-normalizer=2.0.7=pypi_0
cityscapesscripts=2.2.0=pypi_0
click=8.0.3=pypi_0
cloudpickle=2.0.0=pypi_0
colorama=0.4.4=pypi_0
coloredlogs=15.0.1=pypi_0
cudatoolkit=11.3.1=h2bc3f7f_2
cvpods=0.1=dev_0
cycler=0.11.0=pypi_0
cython=0.29.24=pypi_0
debugpy=1.5.1=pypi_0
decorator=5.1.0=pypi_0
defusedxml=0.7.1=pypi_0
detectron2=0.6=dev_0
easydict=1.9=pypi_0
entrypoints=0.3=pypi_0
ffmpeg=4.3=hf484d3e_0
flask=2.0.2=pypi_0
fonttools=4.28.1=pypi_0
freetype=2.10.4=h0708190_1
future=0.18.2=pypi_0
fvcore=0.1.5.post20211023=pypi_0
gitdb=4.0.9=pypi_0
gitpython=3.1.24=pypi_0
gmp=6.2.1=h58526e2_0
gnutls=3.6.13=h85f3911_1
google-auth=2.3.3=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
gpustat=0.6.0=pypi_0
grpcio=1.42.0=pypi_0
h5py=3.6.0=pypi_0
humanfriendly=10.0=pypi_0
hydra-core=1.1.1=pypi_0
idna=3.3=pypi_0
ifcfg=0.22=pypi_0
importlib-metadata=4.8.2=pypi_0
importlib-resources=5.4.0=pypi_0
intel-openmp=2021.4.0=h06a4308_3561
iopath=0.1.9=pypi_0
ipdb=0.13.9=pypi_0
ipykernel=6.7.0=pypi_0
ipython=7.30.1=pypi_0
ipython-genutils=0.2.0=pypi_0
itsdangerous=2.0.1=pypi_0
jbig=2.1=0
jedi=0.18.1=pypi_0
jinja2=3.0.3=pypi_0
joblib=1.1.0=pypi_0
jpeg=9d=h36c2ea0_0
jsonschema=4.4.0=pypi_0
jupyter-client=7.1.1=pypi_0
jupyter-core=4.9.1=pypi_0
jupyterlab-pygments=0.1.2=pypi_0
jupyterthemes=0.20.0=pypi_0
kiwisolver=1.3.2=pypi_0
lame=3.100=h7f98852_1001
lcms2=2.12=hddcbb42_0
ld_impl_linux-64=2.36.1=hea4e1c9_2
lerc=3.0=h9c3ff4c_0
lesscpy=0.15.0=pypi_0
libdeflate=1.8=h7f98852_0
libffi=3.4.2=h7f98852_5
libgcc-ng=11.2.0=h1d223b6_11
libgomp=11.2.0=h1d223b6_11
libiconv=1.14=0
libnsl=2.0.0=h7f98852_0
libpng=1.6.37=h21135ba_2
libstdcxx-ng=11.2.0=he4da1e4_11
libtiff=4.3.0=h6f004c6_2
libuv=1.42.0=h7f98852_0
libwebp-base=1.2.1=h7f98852_0
libzlib=1.2.11=h36c2ea0_1013
lvis=0.5.3=pypi_0
lz4-c=1.9.3=h9c3ff4c_1
markdown=3.3.6=pypi_0
markupsafe=2.0.1=pypi_0
maskrcnn-benchmark=0.1=dev_0
matplotlib=3.5.0=pypi_0
matplotlib-inline=0.1.3=pypi_0
mistune=0.8.4=pypi_0
mkl=2021.4.0=h06a4308_640
mkl-service=2.4.0=py38h95df7f1_0
mkl_fft=1.3.1=py38h8666266_1
mkl_random=1.2.2=py38h1abd341_0
mypy-extensions=0.4.3=pypi_0
nbclient=0.5.10=pypi_0
nbconvert=6.4.0=pypi_0
nbformat=5.1.3=pypi_0
ncurses=6.2=h58526e2_4
nest-asyncio=1.5.4=pypi_0
nettle=3.6=he412f7d_0
ninja=1.10.2.3=pypi_0
notebook=6.4.7=pypi_0
numpy=1.21.2=py38h20f2e39_0
numpy-base=1.21.2=py38h79a1101_0
nvidia-ml-py3=7.352.0=pypi_0
oauthlib=3.1.1=pypi_0
olefile=0.46=pyh9f0ad1d_1
omegaconf=2.1.1=pypi_0
opencv-python=4.5.4.60=pypi_0
openh264=2.1.1=h780b84a_0
openjpeg=2.4.0=hb52868f_1
openssl=3.0.0=h7f98852_2
overrides=6.1.0=pypi_0
packaging=21.3=pypi_0
pandas=1.3.5=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
pathspec=0.9.0=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=8.4.0=py38h8e6f84c_0
pip=21.3.1=pyhd8ed1ab_0
ply=3.11=pypi_0
portalocker=2.3.2=pypi_0
prometheus-client=0.12.0=pypi_0
prompt-toolkit=3.0.24=pypi_0
protobuf=3.19.1=pypi_0
psutil=5.8.0=pypi_0
ptyprocess=0.7.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycocotools=2.0.2=pypi_0
pycparser=2.21=pypi_0
pydot=1.4.2=pypi_0
pygments=2.10.0=pypi_0
pyparsing=3.0.6=pypi_0
pyquaternion=0.9.9=pypi_0
pyrsistent=0.18.1=pypi_0
python=3.8.12=hf930737_2_cpython
python-dateutil=2.8.2=pypi_0
python_abi=3.8=2_cp38
pytorch=1.10.0=py3.8_cuda11.3_cudnn8.2.0_0
pytorch-mutex=1.0=cuda
pytz=2021.3=pypi_0
pyyaml=6.0=pypi_0
pyzmq=22.3.0=pypi_0
readline=8.1=h46c0cb4_0
regex=2021.11.10=pypi_0
requests=2.26.0=pypi_0
requests-oauthlib=1.3.0=pypi_0
rsa=4.7.2=pypi_0
scikit-learn=1.0.1=pypi_0
scipy=1.7.3=pypi_0
seaborn=0.11.2=pypi_0
send2trash=1.8.0=pypi_0
setuptools=59.2.0=py38h578d9bd_0
setuptools-scm=6.3.2=pypi_0
shapely=1.8.0=pypi_0
six=1.16.0=pyh6c4a22f_0
smmap=5.0.0=pypi_0
sqlite=3.36.0=h9cd32fc_2
tabulate=0.8.9=pypi_0
tensorboard=2.7.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.0=pypi_0
tensorboardx=2.4.1=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.12.1=pypi_0
terminaltables=3.1.10=pypi_0
testpath=0.5.0=pypi_0
threadpoolctl=3.0.0=pypi_0
tk=8.6.11=h27826a3_1
toml=0.10.2=pypi_0
tomli=1.2.2=pypi_0
torchaudio=0.10.0=py38_cu113
torchvision=0.11.1=py38_cu113
tornado=6.1=pypi_0
tqdm=4.62.3=pypi_0
traitlets=5.1.1=pypi_0
typing=3.7.4.3=pypi_0
typing-utils=0.1.0=pypi_0
typing_extensions=4.0.0=pyha770c72_0
urllib3=1.26.7=pypi_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
werkzeug=2.0.2=pypi_0
wheel=0.37.0=pypi_0
xz=5.2.5=h516909a_1
yacs=0.1.8=pypi_0
zipp=3.6.0=pypi_0
zlib=1.2.11=h36c2ea0_1013
zstd=1.5.0=ha95c52a_0
