cython
torch
torchvision
Pillow
tabulate
cloudpickle
matplotlib
tqdm
shapely
tensorboard
portalocker
easydict
termcolor
lvis
cityscapesscripts
numpy
appdirs
seaborn
pandas
ifcfg
ninja 
yacs 
opencv-python 
overrides 
gpustat 
gitpython 
graphviz
tensorboardx 
scikit-learn
